.container {
  margin: 2% auto;
}

.item-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.search-container {
  max-width: 500px;
}

.delete-btn {
  margin-top: 10%;
  float: right;
}

.list-items {
  margin-top: 2%;
}

.select-field {
  margin-right: 1%;
}

.loader-sync {
  margin-right: 5%;
}

.github-links {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar{
  padding: 1%;
}

.nav-title{
  color: #ffffff;
}